.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__item-title {
    padding: 0 35px 0 0px;
    font-size: 30px;
    padding-bottom: 6px;
}

.header__item-logo {
    padding: 0 15px;
}

.title__section{
    font-family: 'Rubik', sans-serif;
    color: #E0DACB
}

